<div class="section">
  <h1>BUISness</h1>
  <div class="lol">
    Hier finden Sie die <strong>B</strong>etrieblichen
    <strong>U</strong>mwelt<strong>i</strong>nformations<strong>s</strong>ysteme, die Ihr Unternehmen wirklich braucht.
  </div>

  <h4>Was ist BUISness?</h4>
  <div class="row mb65">
    <div class="col-l-12">
      Buisness ist eine Plattform auf der Unternehmen und BUIS-Anbieter*innen zueinander finden sollen. Eine große
      Datenbank enthält viele Informationen zu unterschiedlichen Betrieblichen Umweltinformationssystemen.
      Diese Informationen werden von den Hersteller*innen eingepflegt und regelmäßig aktualisiert.
      So können die einzelnen Funktionalitäten und Anwendungsfelder der BUIS schnell überblickt werden. Mittels der
      Suche
      mit einem morphologischen Kasten können Unternehmen, die ein BUIS einführen wollen,
      ein Ihren Anforderungen entsprechendes System passgenau auswählen.
    </div>
  </div>

  <h4>Was sind Betriebliche Umweltinformationssysteme (BUIS)?</h4>
  <div class="row mb65">
    <div class="col-l-12">
      Zu Betrieblichen Umweltinformationssystemen werden Softwareanwendungen gezählt, die der Erfassung,
      Dokumentation und Bewertung betrieblicher Umweltwirkungen, sowie der Generierung, Planung und
      Steuerung von Maßnahmen zur Verbesserung der betrieblichen Nachhaltigkeit dienen. Sie unterstützen das
      betriebliche
      Umwelt- und Nachhaltigkeitsmanagement in seinen Aufgaben.
    </div>
  </div>

  <h4>Welche Vorteile kann die Einführung eines BUIS für Ihr Unternehmen bringen?</h4>
  <div class="row mb65">
    <div class="col-l-12">
      Durch die Einführung eines BUIS gelingt es Ihrem Unternehmen, eine einheitliche Datenbasis für Umwelt- und
      Nachhaltigkeitsfragestellungen zu schaffen.
      Dadurch wird sichergestellt, dass Umweltinformationen verschiedenen Anspruchsgruppen
      innerhalb und außerhalb eines Unternehmens transparent zur Verfügung gestellt werden können.
      Zusätzlich kann der Einsatz eines BUIS zu einer Erschließung von Effizienzpotentialen,
      besonders hinsichtlich Material und Energie, führen. Durch die Integration in die betriebliche
      Systemlandschaft kann die Ökoeffizienz in der Produktion signifikant gesteigert und
      die Kosten gesenkt werden.
    </div>
  </div>

  <h4>Wie sollte man bei der Einführung eines BUIS vorgehen?</h4>
  <div class="row mb65">
    <div class="col-l-12">
      Bei der Einführung eines BUIS ist Planung das Stichwort. Ein blinder Einsatz eines BUIS ist selten
      von Erfolg geprägt, da viele Betrachtungsobjekte, Konzepte und allgemeine Ausprägungen vorliegen können und BUIS
      teilweise sehr
      spezifisch auf gewisse Merkmale und Ausprägungen ausgelegt sind.
      Die Planung fängt dabei beim Integrationsgrad (Add-On, Stand-Alone, Integriert) an, geht über die einzelnen
      Betrachtungsobjekte und Anwendungsgebiete und
      am Ende ist es immer entscheidend, wer die Anspruchsgruppe abbildet (z.B. die Unternehmensführung oder die
      Mitarbeiter*innen).
    </div>
  </div>
  <app-floating-button></app-floating-button>
</div>