footer {
    position: fixed;
    text-align: center;
    margin-top: 15px;
    bottom: 0;
    width: 100%;
    line-height: 35px;
    background-color:var(--buisness-blue);

    a {
        color: var(--light-grey);
        cursor: pointer;
    }
}