<div class="section">
  <h1>Impressum</h1>
  <p class="mb65"><em>Angaben gemäß § 5 TMG</em></p>
  <p class="mb65"><strong>Anschrift</strong><br />BUISness UG (haftungsbeschränkt)<br />Wilhelminenhofstraße
    75A<br />12459 Berlin
  </p>
  <p class="mb65"><strong>Geschäftsführer*innen</strong><br /> Liza Lindholz, Stine Bill</p>
  <p class="mb65"><strong>Kontakt</strong><br />Telefon: 012/3456789<br />E-Mail: mail@buisness.de<br />Website:
    www.buisness.de</p>
  <p class="mb65"><strong>Ust-ID</strong><br />Nr. DE 3 0 4 8 9 0 2 4 2</p>
  <p class="mb65"><strong>Haftung für Inhalte</strong><br /> Als Diensteanbieter*innen sind wir gemäß § 7 Abs. 1 TMG für
    eigene Inhalte auf
    diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter*innen
    jedoch
    nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu
    forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
    <br /> Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
    bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
    Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
    entfernen.
  </p>
  <p class="mb65"><strong>Urheberrecht</strong><br /> Die durch die Seitenanbieter*innen erstellten Inhalte und Werke
    auf
    diesen Seiten
    unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung
    außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des/der jeweiligen Autors/in bzw.
    Erstellers/in. Downloads und Kopien der Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
    <br /> Soweit die Inhalte dieser Seite nicht von dem/der Betreiber*in erstellt wurden, werden die Urheberrechte
    Dritter
    beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
    Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
    Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
  </p>
  <p class="mb65" id="nutzungsbedingungen"><strong>Nutzungsbedingungen</strong><br /> Die durch die Seitenanbieter
    erstellten Inhalte und Werke auf
    diesen Seiten
    unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung
    außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des/der jeweiligen Autors/in bzw.
    Erstellers/in. Downloads und Kopien der Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
    <br /> Soweit die Inhalte dieser Seite nicht von dem/der Betreiber*in erstellt wurden, werden die Urheberrechte
    Dritter
    beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
    Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
    Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
  </p>
  <p class="mb65" id="datenschutz"><strong>Datenschutzordnung</strong><br />
    Vielen Dank für Ihr Interesse an BUISness. Der Schutz Ihrer persönlichen Daten ist uns wichtig. Die Erhebung und
    Verarbeitung Ihrer personenbezogenenen
    Daten erfolgt in Übereinstimmung mit den geltenden Datenschutzbestimmungen, insbesondere der
    Datenschutz-Grundverordnung (DSGVO). Soweit Links zu anderen Websites vorhanden sind, haben wir weder
    Einfluss noch Kontrolle über die verlinkten Inhalte und die dortigen Datenschutzbestimmungen. Wir empfehlen Ihnen,
    sich in den Datenschutzerklärungen der
    verlinkten Websites zu informieren, ob und in welchem Umfang personenbezogene Daten erhoben, verarbeitet, genutzt
    oder an Dritte
    weitergegeben werden.
    <br />
    Die nachfolgende Datenschutzerklärung gilt für die Nutzung unseres Online-Angebots.
    <br />
    <br />
    <strong>1. Verantwortlichkeit</strong>
    <br />
    <br />
    Der Verantwortliche im Sinne des Art. 4 (7) EU-Datenschutzgrundverordnung (DSGVO) ist:

    BUISness
    <br />
    Geschäftsführer*innen: Liza Lindholz & Stine Bill
    <br />
    Wilhelminenhofstraße 75A
    <br />
    12459 Berlin
    <br />
    Deutschland
    <br />
    Registergericht: Amtsgericht Charlottenburg (Berlin)
    <br />
    Datenschutzbeuftragter Kontakt: privacy@buisness.com
    <br />
    <br />
    Wenn Sie der Erhebung, Verarbeitung oder Nutzung Ihrer Daten durch uns nach Maßgabe dieser Datenschutzbestimmungen
    insgesamt oder für einzelne Maßnahmen widersprechen wollen, können Sie Ihren Widerspruch an den Verantwortlichen
    richten.
    <br />
    Sie können diese Datenschutzbestimmungen jederzeit speichern und ausdrucken.
    <br />
    <br />
    <strong>2. Allgemeine Zwecke der Verarbeitung</strong>
    <br />
    <br />
    Wir verwenden personenbezogene Daten zum Zweck des Betriebs der Website und zur Bearbeitung von Anfragen, die über
    die Website an uns gerichtet werden.
    <br />
    <br />
    <strong>3. Wie lange wir personenbezogene Daten aufbewahren</strong>
    <br />
    <br />
    Soweit nicht ausdrücklich angegeben, speichern wir personenbezogene Daten nur so lange, wie es zur Erfüllung der
    verfolgten Zwecke erforderlich ist. Über diese Zwecke hinaus bewahren wir Ihre personenbezogenen Daten nicht länger
    als eine allgemeine Höchstaufbewahrungsfrist von 36 Monaten auf, sobald wir sie nicht mehr betrieblich benötigen.
    <br />
    In einigen Fällen sieht der Gesetzgeber eine Aufbewahrung personenbezogener Daten vor, wie z.B. im Steuer- oder
    Handelsrecht. In diesen Fällen speichern wir die Daten nur für diese gesetzlichen Zwecke weiter, verarbeiten sie
    aber nicht weiter und löschen sie nach Ablauf der gesetzlichen Aufbewahrungsfrist.
    <br />
    <br />
    <strong>4. Ihre Rechte als von der Datenverarbeitung betroffene Person</strong>
    <br />
    <br />
    Nach den geltenden Gesetzen haben Sie verschiedene Rechte in Bezug auf Ihre personenbezogenen Daten. Wenn Sie diese
    Rechte wahrnehmen möchten, richten Sie Ihr Verlangen bitte per E-Mail oder per Post unter eindeutiger
    Identifizierung Ihrer Person an die in Ziffer 1 genannte Adresse.






  </p>



</div>