<div class="section">
  <h1>Informationen zum morphologischen Kasten</h1>
  <div class="row mb65">
    <div class="col-l-12">
      Der morphologische Kasten dient der Klassifikation von Betrieblichen Umweltinformationssystemen.
      Dadurch können BUIS entsprechend der für das Anwendungsfeld benötigten Funktionalitäten bestimmt werden.
      Außerdem kann es dabei helfen, ein besseres Verständnis von BUIS aufzubauen. Eine trennscharfe Zuteilung von BUIS zu den einzelnen
      Merkmalsausprägungen ist in der Praxis jedoch nicht immer möglich, da einzelne Eigenschaften oftmals mehreren Ausprägungen zuzuordnen sind.
      <sup rel="footnote">1</sup>
    </div>
  </div>
  <div class="row">
    <h5>Anwendungsgebiet</h5>
    <p>
      Die Nutzung eines Betrieblichen Umweltinformationssystems geschieht immer vor dem Hintergrund, in welchem <em>Anwendungsgebiet</em> es zum Einsatz kommen soll.
      Diese Anwendungsgebiete definieren den Funktionsumfang und die Anforderungen, die an das BUIS gestellt werden.
      Es werden folgende Anwendungsgebiete von BUIS unterschieden:
    </p>
    <ul>

        <li>
          Gesetzeskonformität
        <div class="tool-tip">
          <i class="tool-tip__icon">i</i>
          <p class="tool-tip__info">
            <span class="info"><span class="info__title"></span>
            Bei der <em>Gesetzeskonformität</em> geht es darum, dass das BUIS bei der Einhaltung von Rechtsvorschriften und Normen,
            wie etwa dem Bundes-Immissionsschutzgesetz oder dem Kreislaufwirtschaftsgesetz, unterstützt.</span>

          </p>
        </div>
        </li>

        <li>
          Bilanzierung
        <div class="tool-tip">
          <i class="tool-tip__icon">i</i>
          <p class="tool-tip__info">
            <span class="info"><span class="info__title"></span>
            Die <em>Bilanzierung</em> beschäftigt sich mit der systematischen Erfassung der mit einem Betrachtungsobjekt zusammenhängenden Stoff- und Energieströme
            im Rahmen einer definierten Problemstellung mit spezifischen Betrachtungsgrenzen.</span>

          </p>
        </div>
        </li>

        <li>
          Lebenszyklus
        <div class="tool-tip">
          <i class="tool-tip__icon">i</i>
          <p class="tool-tip__info">
            <span class="info"><span class="info__title"></span> Der <em>Lebenszyklus</em> betrachtet sowohl ökologische, ökonomische
            und soziale Aspekte eines Systems innerhalb der definierten Systemgrenzen. Damit werden nicht nur ausgewählte Teile des Systems
            betrachtet, sondern ein einheitlicher Blick auf das “große Ganze“ bewirkt. </span>

          </p>
        </div>
        </li>


    </ul>
    <ul>

      <li>
        Entscheidungsunterstützung
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span> 
          BUIS im Anwendungsgebiet der <em>Entscheidungsunterstützung</em> kommen in vielen Funktionsbereichen eines Betriebes zum Einsatz. 
          Die wichtigsten Funktionsbereiche sind die Produktion, die Logistik und die Produktplanung. BUIS sind hier durch eine
          enge Kopplung mit bestehenden BIS gekennzeichnet. Das Ziel ist dabei immer die Reduzierung der Umweltauswirkungen eines Betriebes, 
          indem die Produktion ressourceneffizienter gestaltet wird und stoffliche Kreisläufe geschlossen werden.</span>
          
        </p>
      </div>
      </li>

      <li>
        Berichterstattung
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          In den letzten Jahren hat sich die <em>Berichterstattung</em> deutlich weiter in Richtung einer ganzheitlichen Nachhaltigkeitsberichterstattung
          entwickelt. Dies beinhaltet die Bereitstellung von Informationen zur Situation des
          Unternehmens im Umgang mit Fragstellungen der Nachhaltigkeit. Es wird sich diesbezüglich
          an interne und externe Stakeholder gewendet - sowohl in Bezug auf die Vergangenheit als auch in Bezug auf zukünftige ökologische, soziale und ökonomische Aspekte. </span>

        </p>
      </div>
      </li>

      <li>
        Zertifizierung
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          Der Einsatz von BUIS im Zusammenhang mit <em>Standards und Zertifikaten</em> im Umwelt- und Energiemanagement, im Sozialbereich und Bereich der gesellschaftlichen Verantwortung hat in den
          letzten Jahren enorm an Bedeutung gewonnen.
          Insbesondere im Kontext des Energiemanagements nach ISO 50001 haben BUIS einen Aufwind erhalten, da
          Firmen eine Förderung für eine Softwarenutzung zur Unterstützung der Zertifizierung erhalten haben.</span>

        </p>
      </div>
      </li>

    </ul>
  </div>

  <div class="row">
    <h5>Betrachtungsobjekt</h5>
    <p>
      Der Aufgabenbereich eines BUIS ergibt sich aus der Kombination eines oder mehrerer Umweltaspekte,
      die als Betrachtungsobjekt angeben, in welchem Funktionsbereich eine Unterstützung durch das BUIS vorgesehen ist.
      Für jeden dieser genannten Aspekte gibt es heute spezifische BUIS, die entsprechende Funktionalitäten für diese
      <em>Betrachtungsobjekte</em> vorsehen. Folgende Betrachtungsobjekte werden unterschieden
      und daher häufig als wichtigstes Klassifikationskriterium für BUIS genannt:
    </p>

    <ul>

      <li>
        Abfall
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          Das Betrachtungsobjekt <em>Abfall</em> ist stark durch Gesetze und Verordnungen reguliert und schon seit längerer Zeit Gegenstand
          gesellschaftlicher Diskussionen. Ein BUIS für das Betrachtungsobjekt Abfall muss
          daher spezifische Funktionen zur Erstellung von Formularen wie Entsorgungsnachweisen oder Begleitscheinen,
          zum Altlastenmanagement bis hin zur Generierung von Abfallstatistiken bereitstellen.</span>

        </p>
      </div>
      </li>

      <li>
        Anlagen
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          BUIS zur Unterstützung des Betrachtungsobjektes <em>Anlagen</em> bilden die Grundlage für
          die systematische Erfassung von Anlagen und beschreiben die
          Gliederung der Produktionsanlagen in einem Unternehmen. Das
          ist die Ausgangsbasis für die Organisation anfallender operativer Aufgaben, wie z.B.
          dem anlagenbezogenen Genehmigungsmanagement oder die Verwaltung und Dokumentation von umwelt- und arbeitsschutzrelevanten Unfällen und Maßnahmen. </span>

        </p>
      </div>
      </li>

      <li>
        Gefahrstoff
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          Das Betrachtungsobjekt <em>Gefahrstoff</em> bezieht sich auf den Umgang mit Gefahrstoffen und den Transport von Gefahrengütern.
          Gefahrstoffe sind Stoffe oder Gemische, die für Menschen oder die Umwelt gefährlich sein können oder schädigende Wirkung haben.
          Praxisbezogene Handlungshilfen zur Gefährdungsbeurteilung und Umsetzung geeigneter Schutzmaßnahmen sind eine zentrale Voraussetzung
          für den Schutz der Gesundheit bei Tätigkeiten mit Gefahrstoffen. Dabei ist es wichtig, dass
          Gefährdungen durch Gefahrstoffe schnell erkannt und mit geeigneten Schutzmaßnahmen verbunden werden können.
          Genau diese Informationen müssen von BUIS in passender Form bereitgestellt werden </span>

        </p>
      </div>
      </li>


  </ul>

  <ul>

    <li>
      Emissionen
    <div class="tool-tip">
      <i class="tool-tip__icon">i</i>
      <p class="tool-tip__info">
        <span class="info"><span class="info__title"></span>
        Das Betrachtungsobjekt <em>Emissionen</em> befasst sich mit der Überwachung und Steuerung von betrieblichen Anlagen hinsichtlich
        der Abgabe von flüssigen oder gasförmigen Nebenprodukten in die Umweltmedien. Die von BUIS in diesem Bereich zu verarbeitenden numerischen Daten, wie
        etwa Messwertreihen zu Schadstoffemissionen, haben einen räumlichen und zeitlichen Bezug, sind relativ einfach strukturiert und können in großen Mengen anfallen.
        BUIS werden in diesem Kontext verwendet, um die Ausbreitungen von Emissionen
        zu berechnen, Emissionskataster auszustellen oder Emissionsbilanzen zu erstellen.</span>

      </p>
    </div>
    </li>

    <li>
      Stoff/Stoffstrom
    <div class="tool-tip">
      <i class="tool-tip__icon">i</i>
      <p class="tool-tip__info">
        <span class="info"><span class="info__title"></span>
        Informationen über Menge, Art und Zusammensetzung von <em>Stoffen/Stoffströmen</em> sind ür den betrieblichen Umweltschutz von besonderer
        Wichtigkeit. Stoffdaten sind daher eine notwendige Grundlage für alle umweltrelevanten Betrachtungen.
        Diese Stoffe können in spezifischem Kontext als Abfall, Gefahrenstoff oder Emission klassifiziert werden.
        Für ein BUIS mit dem speziellen Betrachtungsobjekt der Stoffströme gilt, dass es diese produkt-, prozess-, unternehmens- oder standortbezogen in einer Stoff- und Energiebilanz darstellen und mit
        Kosten verbinden kann, ihre Vernetzung in Stoffstrommodellen abbildet und mit erweiterter Funktionalität ein Stoffstrommanagement innerhalb eines Betriebes erlaubt.</span>

      </p>
    </div>
    </li>

    <li>
      Energie
    <div class="tool-tip">
      <i class="tool-tip__icon">i</i>
      <p class="tool-tip__info">
        <span class="info"><span class="info__title"></span>
        BUIS mit dem speziellen Fokus auf das Betrachtungsobjekt <em>Energie</em> werden vornehmlich zur Unterstützung des betrieblichen Energie- und Stoffstrommanagements
        eingesetzt. Ziel ist die verursachergerechte Aufnahme des Energieverbrauchs der betrieblichen Verbraucher, ihrer Visualisierung und der Bewertung des Energieverbrauchs,
        um Maßnahmen zu identifizieren und zu planen, die zu einer Energieeinsparung führen. </span>

      </p>
    </div>
    </li>


</ul>
</div>

  <div class="row">
    <h5>Betrachtungskonzept</h5>
    <p>
      Je nachdem, in welchem Umfang die genannten Betrachtungsobjekte von BUIS in
      Bezug auf die Unterstützung einzelner Phasen des Management-Kreislaufes verarbeitet werden,
      lassen sich BUIS in Analogie zu ihren drei Hauptaufgaben in Systeme klassifizieren, die folgende <em>Betrachtungskonzepte</em> unterscheiden:
    </p>

    <ul>

      <li>
        Verwaltungszentriert
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          <em>Verwaltungszentrierte BUIS</em> besitzen überwiegend Informationsbereitstellungs- und
          Berichtsaufgaben. Hier geht es darum, grundlegende Funktionen zur quantitativen
          Erfassung operativer Daten als Basis für eine Kennzahlenermittlung oder für eine Umweltberichterstattung bereitzustellen.</span>

        </p>
      </div>
      </li>

      <li>
        Bewertungszentriert
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          Ein BUIS, das ein <em>bewertungszentriertes Konzept</em> realisiert, fokussiert sich auf die Bewertungsfunktionalität und erweitert verwaltungszentrierte BUIS insbesondere um
          ökonomische Daten und Kennzahlen, sodass neben der mengenmäßigen auch eine
          Analyse der betrieblichen Umweltauswirkungen nach gesellschaftlichen Wertmaßstäben möglich ist. </span>

        </p>
      </div>
      </li>

      <li>
       Managementzentriert
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          <em>Managementzentrierte BUIS</em> sollen den gesamten Umweltmanagement-Kreislauf
          unterstützen, indem sie verwaltungs- und bewertungszentrierte Funktionalitäten um
          organisatorische und strategische Gesichtspunkte in Bezug auf eine Planungs- und
          Zielfindungsunterstützung erweitern. </span>

        </p>
      </div>
      </li>


  </ul>
  </div>

  <div class="row">
    <h5>Betrachtungsgrenzen</h5>
    <p>
      Ein weiteres Klassifikationsmerkmal stellen die Bereiche des Unternehmens dar, die
durch das BUIS informationstechnisch unterstützt werden sollen.
Für diesen abgegrenzten Bereich werden alle umwelt- oder nachhaltigkeitsrelevanten Daten erfasst, ausgewertet und weiterverarbeitet.
Klassischerweise werden folgende <em>Betrachtungsgrenzen</em> differenziert:
    </p>

    <ul>

      <li>
        Standort/Betrieb
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          Zieht man die Betrachtungsgrenze bei einem <em>Betrieb</em>, bzw. fokussiert sich
          auf einen <em>Standort</em>, erfasst das BUIS alle mit dem Betrieb oder Standort zusammenhängenden umweltrelevanten Informationen,
          wie z.B. Stoff- und Energieströme, Kosten oder Organisationsdaten, die mit den Anlagen,
          Prozessen und Liegenschaften des Betriebes/Standortes zusammenhängen.</span>

        </p>
      </div>
      </li>

      <li>
        Prozess
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          Je nach Interesse des BUIS-Anwenders/ der BUIS-Anwenderin bzw. aufgrund gesetzlicher Anforderungen
          können einzelne <em>Prozesse</em> innerhalb des Betriebes/Standortes
          dann in Bezug auf Dokumentationspflichten, ihre Umweltauswirkungen und ihre Relevanz für Nachhaltigkeitsfragestellungen
          als einzelne Erkenntnisobjekte betrachtet werden.</span>

        </p>
      </div>
      </li>
  </ul>

  <ul>

    <li>
      Produkt
    <div class="tool-tip">
      <i class="tool-tip__icon">i</i>
      <p class="tool-tip__info">
        <span class="info"><span class="info__title"></span>
        Bei dem Fokus auf ein bestimmtes <em>Produkt</em> werden in diese Betrachtung zusätzlich
        auch alle umweltrelevanten Informationen miteinbezogen, die außerhalb der Grenzen des Betriebes liegen.
        Es werden also auch Informationen von den Rohstofflieferant*innen, den Zuliefer*innen, den Abnehmer*innen/Konsument*innen und den Entsorger*innen inklusive
        der zwischengelagerten Transporte produktbezogen in dem BUIS verwendet. </span>

      </p>
    </div>
    </li>

    <li>
      Zwischenbetrieblich
    <div class="tool-tip">
      <i class="tool-tip__icon">i</i>
      <p class="tool-tip__info">
        <span class="info"><span class="info__title"></span>
        Diese Klassifikation umfasst sowohl
        BUIS, die eine Analyse mehrerer Standorte eines Unternehmens an verschiedenen
        Orten gestatten, aber auch verschiedene, eigenständige Betriebe, die an einem Ort
        im Rahmen eines Unternehmensverbundes zusammenarbeiten, um stoffliche oder energetische Symbiosen zu etablieren und
        Stoffkreisläufe zu schließen. Dabei nehmen BUIS auch die Transportprozesse zwischen den
        Standorten oder zwischen den Betrieben mit in den Fokus.</span>

      </p>
    </div>
    </li>
</ul>

</div>

  <div class="row">
    <h5>Adressat/Anwender</h5>
    <p>
      Umweltrelevante Daten, umweltelevante Informationen, sowie Berechnungen und Auswertungen dieser sind für die verschiedensten <em>Adressat*innen </em>
      inner- und außerhalb des Unternehmens wichtig und entscheidungsrelevant. Hierbei kann dann unterschieden werden, ob das BUIS zur Befriedigung
      des Informationsbedarfes folgender Adressat*innen verwendet wird:
    </p>

    <ul>

      <li>
        Unternehmensführung
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          Die <em>Unternehmensführung</em> benötigt querschnittsorientierte und übersichtlich aufbereitete
          Informationen, z.B. in Form von Kennzahlen, welche eine Problemerkennung und
          Alternativenauswahl mit Bezug zur Nachhaltigkeit erlauben. Hierfür müssen betriebsinterne Daten,
          ergänzt durch externe Informationen, erfasst, analysiert und
          aggregiert werden, sodass eine Bewertung unterschiedlicher alternativer Maßnahmen in
          Bezug auf ökologische, ökonomische und soziale Aspekte zur Entscheidungsunterstützung vorgenommen werden kann.</span>

        </p>
      </div>
      </li>

      <li>
        Umweltbeauftragte/r
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          Die Aufgaben eines/r <em>Umweltbeauftragten </em>beziehen sich auf die Erfassung und Dokumentation von Informationen für Aspekte wie Abfälle, Gefahrenstoffe und Emissionen
          oder es wird sich ganzheitlich mit dem Umweltmanagement beschäftigt. Der Begriff
          Umweltbeauftragte/r steht hier als Synonym für alle durch gesetzliche Bestimmungen beauftragte Personen im Unternehmen (z.B. Betriebsbeauftragte/r für Abfall, für
          Gewässerschutz oder für Immissionsschutz).</span>

        </p>
      </div>
      </li>

      <li>
        Fachabteilung
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span> Mitarbeiter*innen der <em>Fachabteilung</em> kommen als Adressat*innen für BUIS immer dann in
          Frage, wenn diese zur Erfüllung ihrer fachlichen Aufgaben zusätzliche Daten und
          Informationen zur Beurteilung der Gesetzeskonformität und Nachhaltigkeit einer
          Maßnahme aus ihrer Anwendungsdomäne benötigen. Die dazu benötigten Daten müssen aus dem gesamten Datenpool des BUIS entsprechend der fachlichen Fragestellung gefiltert und aufbereitet werden, da für die Fachabteilung nicht alle Informationen aus dem BUIS relevant sind.  </span>

        </p>
      </div>
      </li>


  </ul>

  <ul>

    <li>
      Mitarbeiter*innen
    <div class="tool-tip">
      <i class="tool-tip__icon">i</i>
      <p class="tool-tip__info">
        <span class="info"><span class="info__title"></span> Der Informationsbedarf zur Nachhaltigkeit eines Unternehmens und seiner Produkte
        könnte auch für eigene <em>Mitarbeiter*innen</em> ohne fachliche Fragestellung relevant sein, die
        sich einfach nur einen Überblick über die Bemühungen ihres Unternehmens in
        Punkto Umweltschutz und sozialem Engagement verschaffen wollen. Da es sich um
        interne Mitarbeiter*innen handelt, kann das BUIS für diese ggf. detailliertere Auskunft geben als für externe Interessent*innen, z.B. über am Arbeitsplatz verwendete Materialien. </span>

      </p>
    </div>
    </li>

    <li>
      Externe Stakeholder
    <div class="tool-tip">
      <i class="tool-tip__icon">i</i>
      <p class="tool-tip__info">
        <span class="info"><span class="info__title"></span> <em>Externe Stakeholder</em> können Behörden, Versicherungen, Investor*innen, Lieferant*innen und Konsument*innen sein. Der Informationsbedarf dieser Adressat*innen ist allerdings sehr unterschiedlich und vielfältig und kann
        ökonomische, ökologische sowie soziale Informationen zu Produkten, Prozessen,
        Standorten und zur unternehmensweiten Umweltpolitik erfordern. Der Aggregationsgrad entsprechender Daten und Informationen kann dementsprechend auch sehr
        unterschiedlich sein.</span>

      </p>
    </div>
    </li>



</ul>

  </div>

  <div class="row">
    <h5>Integrationsgrad</h5>
    <p>
      Die Art und Weise der Einbindung von BUIS in die bestehende betriebliche IT-Landschaft, die sogenannte
      Integrationsfähigkeit, ist ein zentrales Merkmal für das Funktionieren und die Akzeptanz von BUIS. Das umfasst sowohl die funktionale
      Integration als auch die technische Integration. In diesem Kontext werden folgende <em>Integrationsgrade</em> unterschieden:

    </p>

    <ul>

      <li>
        Stand-Alone System
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          <em>Stand-Alone-Systeme</em> sind Insellösungen, die eine Nutzung ihrer Daten und Funktionalitäten in anderen Informationssystemen
          nur über Schnittstellen ermöglichen. Sie werden meistens für spezialisierte Problemstellungen genutzt.
          Ein im Zusammenhang damit auftretendes Problem ist, dass umweltrelevante Daten zwar
          aufwendig erfasst werden können, diese aber nur den Nutzer*innen des BUIS zur Verfügung stehen und so
          ggf. Daten und Arbeitsschritte parallel erfasst und verarbeitet werden. </span>

        </p>
      </div>
      </li>

      <li>
        Add-On System
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          Ein <em>Add-on-System</em> setzt auf einem bestimmten BIS auf. Bei solchen Ansätzen wird
          versucht, BUIS-Funktionen als Subsysteme bereitzustellen, um so Aspekte
          der Nachhaltigkeit zu verarbeiten. Diese Add-ons sind ohne das Hauptsystem
          alleine nicht nutzbar. Teilweise wird dabei versucht, Synergien zwischen den Systemen zu nutzen, um eine größtmögliche Daten- und Funktionsintegration zu erreichen.</span>

        </p>
      </div>
      </li>

      <li>
        Integriertes System
      <div class="tool-tip">
        <i class="tool-tip__icon">i</i>
        <p class="tool-tip__info">
          <span class="info"><span class="info__title"></span>
          Ein <em>integriertes System</em> unterstützt BUIS-Funktionen als integraler Bestandteil
          innerhalb eines Betrieblichen Informationssystems, verwendet die gleiche GUI und basiert
          auf deren globalen Datenmodell. Ein Datenzugriff ist somit redundanzfrei möglich
          und auch alle Funktionen zur Manipulation der Daten können genutzt werden.</span>

        </p>
      </div>
      </li>


  </ul>

  </div>
</div>
<app-floating-button></app-floating-button>


<div class="footnotes">
<hr>
<ol>
<li>
<p>Wohlgemuth, V. (2021). Grundlagen Betrieblicher Umweltinformationssysteme [Vorlesungsfolien]. Hochschule für Technik und Wirtschaft Berlin.</p></li>

</ol>
</div>
