:root {
  //blue colors
  --buisness-blue: #083E86;
  --blue:#1672EC;
  --hover-blue: #2568be;
  --light-blue: #A7D2E9;
  --light-blue-2:#508FB1;

  // grey colors
  --light-grey: #B3BBD8;
  --light-grey-2: #f1f1f1;
  --light-grey-3: #E5E9F4;

  --dark-grey: #47525E;
  --darker-grey: #343F4B;
  --disable-color: #adadad;
  
}
